{% extends 'base.html' %} {% block title %} {% endblock %} {% block content %}
<div class="container-fluid">
  <h1>Blogly Recent Posts</h1>
  <ul>
    {% for post in posts %}
    <div class="my-5">
      <h2>{{ post.title }}</h2>
      <h6>{{ post.content }}</h6>
      <p>
        <small
          >By {{ post.user.first_name }} {{ post.user.last_name }} on {{
          post.nice_date }}</small
        >
      </p>
      <h6>
        <b>Tags: </b>
        {% for tag in post.tags %}
        <span class="badge badge-primary">{{ tag.name }}</span>
        {% endfor %}
      </h6>
    </div>
    {% endfor %}
  </ul>
</div>
{% endblock %}
