{% extends 'base.html' %} {% block title %} Post {% endblock %} {% block content
%}
<div class="container-fluid">
  <div class="col">
    <div class="row">
      <h1>{{ post.title }}</h1>
    </div>
    <div class="row">
      <p>{{ post.content }}</p>
    </div>
    <div class="row">
      <p><i>By {{ post.user.first_name }} {{ post.user.last_name }}</i></p>
    </div>
    <div class="row">
      <h6>
        <b>Tags: </b>
        {% for tag in post.tags %}
        <a href="/tags/{{ tag.id }}"
          ><i class="badge badge-primary">{{ tag.name }}</i></a
        >
        {% endfor %}
      </h6>
    </div>
    <div class="row">
      <form>
        <a
          class="btn btn-outline-primary btn-sm"
          href="/users/{{ post.user.id }}"
          >Cancel</a
        >
        <a class="btn btn-primary btn-sm" href="/posts/{{ post.id }}/edit"
          >Edit</a
        >
        <button
          class="btn btn-danger btn-sm"
          formaction="/posts/{{ post.id }}/delete"
          formmethod="POST"
        >
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
